/* aligned navbar to be more aesthetically pleasing */
.navbar-nav {
  margin-left: auto;
}
/* gave main element room away from navbar */
main {
  padding: 10px;
  margin-top: 20px;
}

/* positioned images correctly and gave proper spacing */
img {
  height: 400px;
  width: 400px;
  margin-right: 15px;
  margin-bottom: 5px;
  float: left;
}
/* added personalized background */
body {
  background-image: url("./assets/background.png");
  width: 100%;
  background-size: cover;
}

/* personalized fonts with colors and font styles */
h1,
p,
label,
a {
  color: navy;
  font-family: "Fjalla One", sans-serif;
  line-height: 150%;
}

/* specified font size for headers */
h1 {
  font-size: 50px;
}

/* specified font size for paragraphs */
p {
  font-size: 20px;
}

.feed {
  max-height: 300px;
  max-width: 600px;
  width: auto;
  height: auto;
}

.vax {
  float: right;
  max-height: 300px;
  max-width: 600px;
  width: auto;
  height: auto;
}

.day-plan {
  max-height: 300px;
  max-width: 600px;
  width: auto;
  height: auto;
}

.pass-gen {
  float: right;
  max-height: 300px;
  max-width: 600px;
  width: auto;
  height: auto;
}
